---
interface Props {
    title: string;
    text: string;
    style: string;
}

const { title, text, style } = Astro.props;
---

<section class={style}>
    <article class="card">
        <h4 class="text-gradient">{title}</h4>
        <p class="subText">{text}</p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis repellendus, debitis officia aspernatur optio illum
            itaque quam quibusdam error delectus impedit consequatur, accusamus,
            labore deleniti molestiae voluptas aut eos quidem!
        </p>
    </article>
</section>

<style>
    section {
        display: flex;
        position: relative;
        height: 70vh;
        font-size: 4em;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }
    h4 {
        font-size: 1em;
    }
    p {
        font-size: 1rem;
        text-align: right;
    }
    .subText {
        bottom: 45%;
        right: 2%;
        position: absolute;
        z-index: -1;
        white-space: nowrap;
        font-size: 2.2em;
        color: rgba(24, 24, 24, 0.164);
        font-weight: bold;
    }
    .left {
        align-items: flex-start;
    }
    .right {
        align-items: flex-end;
    }
</style>
