---
import Title from "../components/Title.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Title />
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	:root {
		--accent: 204, 129, 8;
		--accent-light: 255, 190, 87;
		--accent-dark: 201, 146, 58;
		--accent-gradient: linear-gradient(
			5deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 40%,
			white 60%
		);
	}
	html {
		background: #ececec;
		background-size: 224px;
		font-family: "Inria Serif", serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.gemetric {
		background-color: var(--accent);
		background-image: linear-gradient(
			160deg,
			rgb(var(--accent)) 0%,
			rgb(var(--accent-light)) 100%
		);
	}

	/* Firefox */
	* {
		scrollbar-width: thin;
		scrollbar-color: rgb(var(--accent-dark)) #dfe9eb;
	}

	/* Chrome, Edge and Safari */
	*::-webkit-scrollbar {
		height: 6px;
		width: 6px;
	}
	*::-webkit-scrollbar-track {
		border-radius: 5px;
		background-color: #dfe9eb;
	}

	*::-webkit-scrollbar-track:hover {
		background-color: #b8c0c2;
	}

	*::-webkit-scrollbar-track:active {
		background-color: #b8c0c2;
	}

	*::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: rgb(var(--accent-dark));
	}

	*::-webkit-scrollbar-thumb:hover {
		background-color: rgb(var(--accent-light));
	}

	*::-webkit-scrollbar-thumb:active {
		background-color: rgb(var(--accent-light));
	}
</style>
